header{
    padding: 2rem;
    background-color: #008080;
    height: 36px;
    display: flex;
    align-items: center;
    
}

strong{
    color: gold;
}

.sidenav{
    width: 220px;
    background-color: #008080;
    position: absolute;
    height: 95vh;
    padding: 0 1rem;
    transition: all 1s;
}

.icon{
    width: 50px;
    margin-left: 6px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.menu{
    padding: 0;
}

.menu, .options{
    list-style-type: none;
}

.menu, .options, a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 10px 8px;
    border-radius: 6px;
}

.menu .options a:hover,
.menu .options a.active{
    background: darkcyan;
}



h2{
    text-align: center;
    margin: 4rem 0;
}

.list-movies{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}

.itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 180px;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.movie-name{
    font-weight: bold;
    font-size: 115%;
    text-align: center;
}

.liniker{
    transition: all 0.3s;
}

.liniker:hover{
    transform: scale(1.1);
}